html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
  padding: 0;
  margin: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  height: 88px;
  width: 100%; }
  .header .header_con {
    height: 88px;
    width: 1100px;
    margin: 0 auto; }
    .header .header_con a {
      float: left; }
      .header .header_con a img {
        height: 65px;
        margin-top: 20px; }
    .header .header_con .header_right {
      float: right;
      height: 88px;
      line-height: 88px; }
      .header .header_con .header_right img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        float: left;
        margin-right: 16px;
        margin-top: 35px; }
      .header .header_con .header_right div {
        float: left;
        padding-top: 35px; }
        .header .header_con .header_right div p {
          font-size: 14px;
          color: #999999;
          line-height: 20px; }
          .header .header_con .header_right div p a {
            float: right;
            color: #CD000B;
            font-size: 14px; }

.banner {
  height: 550px;
  width: 100%;
  background: url(../img/enterBanner.jpg) center; }
  .banner .banner_con {
    height: 550px;
    width: 1100px;
    margin: 0 auto;
    position: relative; }
    .banner .banner_con .banner_con_right {
      height: 450px;
      width: 530px;
      border-radius: 10px;
      background: white;
      float: right;
      margin-top: 15px; }
      .banner .banner_con .banner_con_right .title {
        height: 53px;
        width: 100%;
        text-align: center;
        padding: 23px 20px 0 20px;
        clear: both;
        position: relative;
        margin-bottom: 30px; }
        .banner .banner_con .banner_con_right .title span {
          display: block;
          float: left;
          width: 220px;
          padding-bottom: 20px;
          border-bottom: 1px solid #e6e6e6;
          font-size: 18px;
          color: #999999;
          cursor: pointer; }
        .banner .banner_con .banner_con_right .title span:first-child {
          border-bottom: 4px solid #f32613;
          color: #f32613; }
        .banner .banner_con .banner_con_right .title i {
          border-color: #F32613 transparent transparent transparent;
          border-style: solid dashed dashed dashed;
          border-width: 7px;
          width: 0;
          height: 0;
          position: absolute;
          top: 70px;
          right: 435px; }
      .banner .banner_con .banner_con_right .text, .banner .banner_con .banner_con_right .pass, .banner .banner_con .banner_con_right .checkMa {
        width: 400px;
        height: 50px;
        border: 1px solid #e6e6e6;
        border-bottom: none;
        margin-left: 62px;
        line-height: 50px; }
        .banner .banner_con .banner_con_right .text span, .banner .banner_con .banner_con_right .pass span, .banner .banner_con .banner_con_right .checkMa span {
          margin-left: 20px; }
        .banner .banner_con .banner_con_right .text input, .banner .banner_con .banner_con_right .pass input, .banner .banner_con .banner_con_right .checkMa input {
          height: 47px;
          width: 310px;
          border: none;
          font-size: 16px; }
      .banner .banner_con .banner_con_right .pass {
        border-bottom: 1px solid #e6e6e6; }
      .banner .banner_con .banner_con_right .checkMa {
        border-bottom: 1px solid #e6e6e6;
        margin-top: 13px; }
        .banner .banner_con .banner_con_right .checkMa span {
          float: left; }
        .banner .banner_con .banner_con_right .checkMa input {
          width: 228px;
          float: left;
          line-height: 45px; }
        .banner .banner_con .banner_con_right .checkMa li {
          display: block;
          float: left;
          background: black;
          width: 95px;
          height: 50px; }
      .banner .banner_con .banner_con_right .seven_div {
        width: 400px;
        height: 50px;
        margin-left: 62px;
        line-height: 50px; }
        .banner .banner_con .banner_con_right .seven_div div {
          float: left; }
          .banner .banner_con .banner_con_right .seven_div div input {
            width: 15px;
            height: 15px; }
        .banner .banner_con .banner_con_right .seven_div p {
          float: right; }
      .banner .banner_con .banner_con_right .enter {
        display: block;
        width: 400px;
        height: 50px;
        margin-left: 62px;
        line-height: 50px;
        background: #f32613;
        text-align: center;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer; }
      .banner .banner_con .banner_con_right .phoneEnter {
        padding-left: 60px;
        display: none; }
        .banner .banner_con .banner_con_right .phoneEnter ul li {
          width: 395px;
          height: 50px;
          border: 1px solid #e1e1e1;
          font-size: 12px;
          line-height: 50px;
          text-indent: 10px; }
          .banner .banner_con .banner_con_right .phoneEnter ul li input {
            border: none;
            z-index: 10px;
            height: 46px;
            width: 304px; }
          .banner .banner_con .banner_con_right .phoneEnter ul li span {
            font-size: 16px;
            color: #676767; }
          .banner .banner_con .banner_con_right .phoneEnter ul li span:nth-child(2) {
            margin-right: 20px; }
        .banner .banner_con .banner_con_right .phoneEnter ul li:nth-child(2) {
          border-top: none;
          margin-bottom: 15px; }
          .banner .banner_con .banner_con_right .phoneEnter ul li:nth-child(2) input {
            width: 200px; }
          .banner .banner_con .banner_con_right .phoneEnter ul li:nth-child(2) label {
            display: block;
            width: 95px;
            height: 50px;
            background: red;
            float: right; }
        .banner .banner_con .banner_con_right .phoneEnter ul li:nth-child(3) {
          border: none;
          line-height: 23px;
          text-indent: 0; }
          .banner .banner_con .banner_con_right .phoneEnter ul li:nth-child(3) span {
            background: #2aaf84; }
            .banner .banner_con .banner_con_right .phoneEnter ul li:nth-child(3) span a {
              font-size: 12px;
              color: white; }
        .banner .banner_con .banner_con_right .phoneEnter ul li:nth-child(4) {
          margin-top: 20px;
          margin-bottom: 20px;
          line-height: 50px; }
          .banner .banner_con .banner_con_right .phoneEnter ul li:nth-child(4) input {
            width: 200px; }
          .banner .banner_con .banner_con_right .phoneEnter ul li:nth-child(4) label {
            display: block;
            width: 95px;
            height: 50px;
            background: red;
            float: right; }
        .banner .banner_con .banner_con_right .phoneEnter ul li:nth-child(5) {
          background: #f32613;
          border: none;
          line-height: 46px;
          cursor: pointer;
          text-align: center;
          color: white;
          font-size: 18px; }
    .banner .banner_con .div_jt {
      height: 20px;
      width: 20px;
      background: url(../img/login_pic.png) -277px 0;
      position: absolute;
      right: 315px;
      top: 6px; }

.bottom {
  height: 90px;
  width: 100%; }

.bottom_con {
  height: 50px;
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px; }
  .bottom_con p {
    color: #666666;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px; }
    .bottom_con p a {
      color: #666666;
      font-size: 14px;
      margin: 0 15px; }
