html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
  padding: 0;
  margin: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  width: 100%;
  height: 30px;
  background: #f5f5f5;
  font-size: 12px;
  line-height: 30px; }
  .header .tit {
    height: 30px;
    width: 1200px;
    margin: 0 auto; }
    .header .tit .left {
      float: left; }
      .header .tit .left p {
        float: left;
        color: #999999;
        margin-right: 10px; }
      .header .tit .left .register, .header .tit .left .login {
        display: block;
        float: left;
        color: #d91e16; }
    .header .tit .right {
      float: right; }
      .header .tit .right a {
        display: block;
        float: left;
        color: #999999;
        margin-left: 15px;
        text-align: center; }
        .header .tit .right a span {
          margin-left: 5px; }
      .header .tit .right p {
        float: left;
        color: #999999;
        width: 80px;
        padding: 0 0 0 20px; }
        .header .tit .right p span {
          display: block;
          margin-right: 15px;
          float: right; }
      .header .tit .right .p1 {
        margin-left: 15px;
        background: url(../img/top_bar_icon.png) no-repeat 0 -30px; }
      .header .tit .right .p2 {
        background: url(../img/top_bar_icon.png) no-repeat 0 -90px; }
      .header .tit .right .p3 {
        background: url(../img/top_bar_icon.png) no-repeat 0 -150px; }

.log {
  width: 100%;
  height: 140px;
  clear: both; }
  .log .log_con {
    width: 1200px;
    height: 105px;
    margin: 0 auto;
    padding-top: 35px; }
    .log .log_con .log_img {
      float: left; }
      .log .log_con .log_img .img1 {
        display: block;
        float: left;
        height: 58px;
        width: 146px; }
      .log .log_con .log_img .img2 {
        height: 67px;
        width: 238px; }
  .log .search {
    float: left; }
    .log .search form p a {
      font-size: 12px;
      color: #999999;
      margin-right: 15px; }
    .log .search form div {
      border: 2px solid #4bc7df; }
      .log .search form div .input_text {
        width: 405px;
        height: 40px;
        vertical-align: middle;
        border: none; }
      .log .search form div .sub {
        height: 41px;
        width: 80px;
        background: #1690bf;
        font-size: 20px;
        color: white;
        vertical-align: middle;
        border: none;
        cursor: pointer; }
  .log .promise {
    float: right; }
    .log .promise img {
      float: right; }
    .log .promise span {
      display: block;
      float: left;
      font-size: 12px;
      color: #999999;
      margin-left: 35px; }

.nav {
  height: 38px;
  width: 100%;
  clear: both;
  border-bottom: 2px solid #4bc7df; }
  .nav .nav_con {
    height: 30px;
    width: 1200px;
    margin: 0 auto; }
    .nav .nav_con .goodList {
      height: 38px;
      width: 213px;
      background: #4bc7df;
      position: relative;
      float: left; }
      .nav .nav_con .goodList p {
        font-size: 16px;
        color: white;
        height: 38px;
        line-height: 38px;
        text-align: center; }
      .nav .nav_con .goodList img {
        display: block;
        width: 232px;
        position: absolute;
        bottom: -2px; }
    .nav .nav_con ul li {
      float: left;
      width: 125px;
      height: 38px;
      line-height: 38px; }
      .nav .nav_con ul li a {
        color: #333333;
        font-size: 14px; }
    .nav .nav_con ul li:first-child {
      padding-left: 40px; }
      .nav .nav_con ul li:first-child a {
        color: #4BC7DF; }
    .nav .nav_con ul li:nth-child(6) {
      width: 90px; }

.banner {
  height: 585px;
  width: 100%;
  position: relative; }
