html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { padding: 0; margin: 0;}
ul,li { list-style: none;}
a{
    text-decoration: none;
}

//头部
.header{
    height: 88px;
    width: 100%;
    .header_con{
        height: 88px;
        width: 1100px;
        margin: 0 auto;
        a{
            float: left;
            img{
                height: 65px;
                margin-top: 20px;
            }
        }
        .header_right{
            float: right;
            height: 88px;
            line-height: 88px;
            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                float: left;
                margin-right: 16px;
                margin-top: 35px;
            }
            div{
                float: left;
                padding-top:58px ;
                p{
                    font-size: 14px;
                    color: #999999;
                    line-height: 20px;
                    a{
                        float: right;
                        font-size: 14px;
                        color: #1c5aaf;
                        font-weight: 600;
                    }
                }
            }
        }
       
    }
}

//banner中间部分
.banner{
    width: 100%;
    height: 640px;
    background: url(../img/register_bg.png) center;
    padding-top: 40px;
    .banner_con{
        height: 617px;
        width: 858px;
        margin: 0 auto;
        border: 10px solid #d5d5d5;
        background: white;
        .banner_con_left{
            border-right:1px solid #D1D1D1 ;
            width: 618px;
            height: 520px;
            margin-top: 20px;
            float: left;
            .title{
                height: 53px;
                width: 100%;
                text-align: center;
                padding: 0 20px 0 20px;
                clear: both;
                position: relative;
                margin-bottom: 30px;
                span{
                    display: block;
                    float: left;
                    width: 295px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #e6e6e6;
                }
                span:first-child{
                   border-bottom:4px solid #f32613 ; 
                }
                a{
                    font-size: 18px;
                    color: #999999;
                }
                a:first-child{
                    color: #f32613;
                }
                i{
                    border-color: #F32613 transparent transparent transparent;
                    border-style: solid dashed dashed dashed;
                    border-width: 7px;
//                  display: none;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top:48px;
                    right: 486px;
                }
            }
        }
        
        //输入区
        p{
            width:400px ;
            height: 55px;
            color: #999999;
            line-height: 20px;
            margin: 20px 0 20px 120px;
            cursor: pointer;
        }
        .text{
                width: 400px;
                height: 55px;
                border: 1px solid #e6e6e6;
                margin-left: 120px;
                line-height: 55px;
                 box-sizing:border-box;
                span{
                    margin-left: 20px;  
                }
                input{
                    border: none;
                    width:300px ;
                    font-size: 14px;
                    color: #D1D1D1;
                    height:  48px;
                    outline: none;
                }
               
        }
            .checkMa,.phoneCheck{
                width: 400px;
                height: 55px;
                border: 1px solid #e6e6e6;
                margin-left: 120px;
                line-height: 55px;
                box-sizing:border-box;
                border-top: none;
                span{
                    margin-left: 20px; 
                    float: left; 
                }
                input{
                    border: none;
                    font-size: 14px;
                    color: #D1D1D1;
                    height: 54px;
                    width: 200px;
                    float: left;
                    box-sizing:border-box;
                    outline: none;
                }
                li{
                    display: block;
                    float: right;
                    background: black;
                    width: 121px;
                    height: 55px;
                }
            }
           .phoneCheck{
              border: 1px solid #e6e6e6;
              height: 56px;
              input{
                  width:184px ;
              }
           }
            .next{
                display: block;
                width: 400px;
                height: 55px;
                margin-left: 120px;
                line-height: 55px;
                background: #f32613;
                text-align: center;
                font-size: 20px;
                color: white;
                border-radius: 5px;
                margin-top: 15px;
            }
            //手机号码注册
           .phoneRegister{
//             display: none;
               position: absolute;
           }
            //账号注册
           .numRegister{
                padding-left: 118px;
                display: none;
                ul li{
                    width:395px;
                    height: 50px;
                    border: 1px solid #e1e1e1;
                    font-size: 12px;
                    line-height: 50px;
                    border-bottom: none;
                    position: relative;
                    span{
                        display: block;
                        width: 70px;
                        height: 50px;
                        float: left;
                    }
                    span:first-child{
                        font-size: 14px;
                        color: #333333;
                        margin-left: 20px;
                    }
                    
                    input{
                        outline: none;
                        border:none;
                        text-indent: 10px;
                        width: 300px;
                    }
                } 
                ul li:nth-child(4){
                    margin-bottom:15px ;
                    border-bottom: 1px solid #e1e1e1;
                }
                ul li:nth-child(5),ul li:nth-child(7){
                    input{
                        width: 180px;
                    }
                    label{
                        display: block;
                        float: right;
                        height: 50px;
                        width: 125px;
                        background: red;
                    }
                }
                ul li:nth-child(7){
                    border-bottom: 1px solid #e1e1e1;
                }
                ul li:nth-child(8){
                    border: none;
                    input{
                        width: 25px;
                        vertical-align: middle;
                        margin-right: 15px;
                    }
                }
                ul li:last-child{
                    border-bottom: 1px solid #e1e1e1;
                    background: #f32613;
                    line-height: 50px;
                    color: white;
                    font-size: 16px;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 5px;
                }
           } 
             
        .banner_con_right{
            width: 235px;
            height: 520px;
            float: left;
            p{
                color:#34312c ;
                font-size: 18px;
                margin: 40px 0 0 15px;
            }
            ul li{
                height:37px;
                margin-left: 32px;
                color: #aba8a1;
                font-size: 14px;
                line-height: 30px;
                span{
                    width: 30px;
                    display: block;
                    float: left;
                    height: 30px;
                }
            }
            li:nth-child(1){
                span{
                    background: url(../img/login_pic.png) no-repeat 0 -75px;
                }     
            }
             li:nth-child(2){
                span{
                    background: url(../img/login_pic.png) no-repeat -30px -75px;
                }     
            }
             li:nth-child(3){
                span{
                    background: url(../img/login_pic.png) no-repeat -60px -75px;
                }     
            }
             li:nth-child(4){
                span{
                    background: url(../img/login_pic.png) no-repeat -90px -75px;
                }     
            }
             li:nth-child(5){
                span{
                    background: url(../img/login_pic.png) no-repeat -120px -75px;
                }     
            }
             li:nth-child(6){
                span{
                    background: url(../img/login_pic.png) no-repeat -150px -75px;
                }     
            }
        }
    }
}





//底部
.bottom{
    height: 90px;
    width: 100%;
}
.bottom_con{
    height: 50px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    p{
        color: #666666;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;
        a{
            color: #666666;
            font-size: 14px;
            margin: 0 15px;
        }
    }
}
